<ion-view view-title="Store">
  <ion-content>
  	<div class="col-lg-12">
  		<h2>Home</h2>
  	</div>
  	
    <div class = "row" ">
   <div class = "col">
   	<img ng-src="{{brand.img}}">
   </div>
   <!-- <div class = "col">col 2</div>
   <div class = "col">col 3</div>
   <div class = "col">col 4</div>
   <div class = "col">col 5</div> -->
</div>
<ion-row justify-content-around >
    <ion-col col-3 ui-sref="app.boots">
     <div class="card" >
			 <div class="item item-avatar">
			    <img src="img/boots/boot1.jpg">
			    <h2>Boots<h2>
			    <p>Amazing Boots with elegant feeling</p>
			 </div>

			  <div class="item item-image">
			    <img src="img/boots/boot1.jpg">
			  </div>
        </div>
    </ion-col>

    <ion-col col-3 ui-sref="app.casual">
     <div class="card">
			 <div class="item item-avatar">
			    <img src="img/casual/casual1.jpg">
			    <h2>Casual Men Shoes<h2>
			    <p>Your Everyday wears</p>
			 </div>

			  <div class="item item-image">
			    <img src="img/casual/casual1.jpg">
			    
			  </div>
        </div>
    </ion-col>

    <ion-col col-3 ui-sref="app.jordan">
     <div class="card">
			 <div class="item item-avatar">
			    <img src="img/jordan/jordan1.png">
			    <h2>Jordan<h2>
			    <p>Footlockers and retros</p>
			 </div>

			  <div class="item item-image">
			    <img src="img/jordan/jordan1.png">
			    
			  </div>
        </div>
    </ion-col>

    <ion-col col-3 ui-sref="app.formal">
     <div class="card">
			 <div class="item item-avatar">
			    <img src="img/formal/formal1.jpg">
			    <h2>Formal Shoes<h2>
			    <p>Corporate shoes</p>
			 </div>

			  <div class="item item-image">
			    <img src="img/formal/formal1.jpg">
			    
			  </div>
        </div>
    </ion-col>
  </ion-row>
  </ion-content>
</ion-view>
