<ion-view view-title="Playlist">
  <ion-content>
    <h1>Playlist</h1>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        <div class="card">
        	<div class="item item-divider">
			    I'm a Header in a Card!
		  	</div>
		  	<div class="item item-text-wrap">
			   <h1>{{playlist.title}}<h1>
			   	<p>jeff is here</p>
			   	<img src="img/ionic.png">
			</div>
        	 <div class="item item-divider">
			    I'm a Footer in a Card!
			 </div>
        </div>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
