
<ion-view view-title="Shoes" scroll="true" class="bghome"> 
	<ion-content> 
<button class="button button-outline button-dark "ui-sref="app.cart" >Cart</button>
<h1 class="restitle"></h1>
		




  <div ng-controller="mainController as main">
     
        <div>
         <ion-list ng-repeat="item in main.items">
     		<ion-item class="item item-thumbnail-left" >  
              <img ng-src="{{item.img}}" style="border-radius:50%;">                
              <p><h2>{{item.name}}</h2></p> 
              <h4 >{{item.price }} MZN</h4>
              <h4>{{item.quantity}}</h4>
                <select class="dropdown">
      				      <option>{{item.select.i1}}</option>
      				      <option selected>{{item.select.i2}}</option>
      				      <option>{{item.select.i3}}</option>
      			    </select>
                <div>
                  <button ng-click="main.increaseItemAmount(item)" class="button button-small button-dark">+</button>
          <button ng-click="main.decreaseItemAmount(item)" class="button button-small button-assertive">-</button>
                </div>
    			
        <button ng-click="main.addToCart(item)" ng-show="item.showAddToCart && !item.addedToCart" class="button button-small button-positive">Add to Cart</button>
			
    			


				</ion-item>
			<br>

  			</ion-list>
          
</ion-content>

</ion-view>
