<ion-view view-title="Shop" >
 	<ion-content>
 		<div class="list">

		    <a class="item item-thumbnail-left" ui-sref="app.shoes">
		      <img src="img/boots/boot1.jpg">
		      <h2>Shoes</h2>
		      <p>Quantity: 800</p>
		      <p>Last Orders: 500</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/bag.jpg">
		      <h2>Bags</h2>
		      <p>Quantity: 1000</p>
		      <p>Last Orders: 500</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/clothes.jpg">
		      <h2>Clothes</h2>
		      <p>Quantity: 2000</p>
		      <p>Last Orders: 1500</p>
		    </a>



		</div>


	<!-- <div class="list">
		<div class="row responsive-sm responsive-md">
			<div class= "col ">
				<button class="item" ui-sref="app.mimmos">
			      <img src="../img/mimmos.jpg">
			      <h2>Mimmos</h2>
			    </button>
			</div>
			
			<div class="col">
			    <button class="item" href="#">
			      <img src="../img/piratas.png">
			      <h2>Piratas</h2>
			    </button>
			</div>

		</div>
		<div class="row responsive-sm responsive-md">
			<div class="col">
				<button class="item" href="#">
			      <img src="../img/debonairs.jpg">
			      <h2>Debonairs</h2>
			    </button>
			</div>
		</div>

		
	    
	    
	    
	</div> -->

	</ion-content>
</ion-view>